.App{
  padding: 10px 20px;
}
.list-items{
  margin : 20px 30px;
  padding: 20px 30px;
  list-style: none;
}
.list-items__item{
  border: 2px solid black;
  margin: 20px auto;
  padding: 20px 30px;
}
